<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">NodeMongo App</a>
    <button
      class="navbar-toggler"
      data-bs-target="#my-nav"
      data-bs-toggle="collapse"
      aria-controls="my-nav"
      aria-expanded="false"
      aria-lable="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="my-nav">
      <ul class="navbar-nav ms-auto">
        <li class="navbar-item active">
          <a href="/" class="nav-link"><i class="fas fa-home me-1"></i>Home</a>
        </li>
        <li class="navbar-item">
          <a href="/add" class="nav-link"
            ><i class="fas fa-user-plus me-1"></i>Add User</a
          >
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link"
            ><i class="fas fa-globe me-1"></i>About</a
          >
        </li>
        <li class="navbar-item">
          <a href="#" class="nav-link"
            ><i class="fas fa-envelope me-1"></i>Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
